@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Black+Ops+One&family=Poppins:wght@100&display=swap');

*{
    padding: 0%;
    margin: 0%;
}

body{
    min-height: 100vh;
}

.main{
    display: flex;
    width: 100%;
    height: 100vh;
    flex-wrap: nowrap;
    flex-direction: column;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url("../img/main.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.div-main{
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.6895133053221288) 55%, rgba(0,0,0,0.022846638655462215) 100%);
}

.h1m{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 1%;
    color: #ff6c00;
    font-size: 1.9em;
    text-align: start;
}


.list{
    font-style: normal;
    padding-top: 20px;
}

.list_li{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    font-size: 1.2em;
}

.a_main{
    text-decoration: none;
    color: #ff6c00;
    font-family: 'Audiowide', cursive;
}
.a_main:hover{
    color: #ff9100;
}

.text-main{
    font-family: 'Audiowide', cursive;
    padding: 10%;
    font-size: 1.5em;
    color: #d4ff00;
    text-align: center;
}

.div__inscribirse{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 13px;
}

.inscribirse{

    text-decoration: none;
    color:#ff6c00;
    font-size: 1.2em;
    border: 3px solid #ff6c00;
    font-family: 'Audiowide', cursive;
}
.inscribirse:hover{
    color: #fd9a19;
    border-color: #fd9a19;
}









.home_section_box{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),  url(../img/responsive/knappinggmedia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3%;
}

.home--section{
    padding: 8% 0 7% 0;
    font-family: 'Audiowide', cursive;
    font-size: 1.1em;
    color: #ff6c00;
}

.h2_ind{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec-div-home{
    font-family: sans-serif;
    color:  #ff6c00;
    padding-bottom: 10%;
}























.about__section__box{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),  url(../img/responsive/knappinggmedia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3%;
}

.about--section{
    padding: 8% 0 7% 0;
    font-family: 'Audiowide', cursive;
    font-size: 1.1em;
    color: #ff6c00;
}

.h2_about{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 5px solid #ff6c00;
}

.what--we--do{
    font-family: sans-serif;
    color:  #d4ff00;
    padding-bottom: 10%;
}

.h2_aboutt{
    font-family: 'Audiowide', cursive;
    font-size: 1.3em;
    font-style: normal;
}


























.course--course{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),  url(../img/responsive/fire-winterr.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3%;
}

.couse--section{
    padding: 8% 0 7% 0;
    font-family: 'Audiowide', cursive;
    font-size: 1.1em;
    color: #ff6c00;
}

.h2_course{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 5px solid #ff6c00;
}

.what--we--do{
    font-family: sans-serif;
    color:  #d4ff00;
    padding-bottom: 10%;
}

.h2_coursee{
    font-family: 'Audiowide', cursive;
    font-size: 1.3em;
    font-style: normal;
}









.form_article{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),  url(../img/responsive/smoke__contactr.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 2em;
    line-height: 2em;
    font-family: 'Audiowide', cursive;
    font-size: 1em;
    color: #d4ff00;
}

option{
    background-color: transparent;
}














.art__gallery{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    padding-top: 10px;
}

.h2_gallery{
    margin: 1em;
    padding: 0% 33% 2% 33%;
    font-family: 'Audiowide', cursive;
    color: #ff842b;
    border-bottom: 5px solid #ff6c00;
}

.gall_1{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
}

.gall_1_img{
    margin-bottom: 15px;
    border: 1px solid #ff6c00;
}

.figure_gall{
    width: 315px;
}

.gall_2{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
}

.gall_2_img{
    margin-bottom: 15px;
    border: 1px solid #ff6c00;
}

.figure_2_gall{
    width: 315px;
}























.section__course__contact{
    margin: 1012px, 600px;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(../img/contacto/smoke__contact.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 34px;
}

.art__form__contact{
    line-height: 35px;
    font-family: sans-serif;
    color:#ff6c00;
}

.contact--contact{
    font-family: 'Audiowide', cursive;
    padding-left: 11%;
    padding-top: 150px;
    padding-bottom: 232px;
    font-size: 50em;
    color: #ffffff;
}

.section__contact{
    padding: 40px;
}

.footer--contact--icons{
    display:flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 30px;
}

























.section_footer{
    background-color: #000000;
}

.h3__footer{
    padding-top: 15px;
    font-family: 'Audiowide', cursive;
    font-size: 1.1em;
    color: #fd9a19;
    border-bottom: 0.2em solid #ff6c00;
    text-align: center;
}

.figure_footer{
    width: 315px;
    height: 155px;
}

.div_footer{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}














.footer__end{
    background: linear-gradient(180deg, rgba(0,0,0,1) 20%, rgb(212, 255, 0) 80%);
    width: 100%;
    height: 140vh;
    border-top: 1em solid #d4ff00;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div__footer{
    display: flex;
    padding: 5px 10px 0px 10px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    color: #ff6c00;
    font-family: sans-serif;
    font-size: 1.2em;
}

.h3__footer{
    margin-bottom: 25px;
}

.list__footer{
    list-style: none;
}

.links__footer{
    text-decoration: none;
    color: #d4ff00;
}

.icons{
    width: 1.5em;
}











































































@media(min-width:768px){

    .h1m{    
        grid-area: h1m;
    }

    .mainMenu{
        grid-area: mainMenu;
    }

    .text-main{
        grid-area: text-main;
    }



.main{
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,1fr);
    grid-template-areas:
    "div-main div-main"
    "text-main text-main"
    "text-main text-main";
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url("../img/main.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


.div-main{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-items: start;
}

.h1m{
    padding: 2%;
    color: #ff6c00;
    font-size: 2em;
    text-align: start;
}

.mainMenu{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-items: start;
    font-style: normal;
    padding-top: 29px;
}

.list_li{
    display: flex;
    list-style: none;
    font-size: 1.2em;
    flex-direction: row;
    justify-items: flex-start;
}

.a_main{
    text-decoration: none;
    color: #ff6c00;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-family: 'Audiowide', cursive;
}
.a_main:hover{
    color: #ff9100;
}

.text-main{
    font-family: 'Audiowide', cursive;
    font-size: 2em;
    color: #ffffff;
}

.div__inscribirse{
    text-align: center;
}

.inscribirse{
    text-decoration: none;
    color:#ff6c00;
    font-size: 1.2em;
    border: 8px solid #ff6c00;
    font-family: 'Audiowide', cursive;
}
.inscribirse:hover{
    color: #fd9a19;
    border-color: #fd9a19;
}









.home_section_box{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),  url(../img/nosotros/knappingg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 35px;
    padding-right: 400px;
    padding-bottom: 200px;
}


.home--section{
    font-family: 'Audiowide', cursive;
    padding-left: 450px;
    padding-top: 50px;
    font-size: 1em;
    color: #ff6c00;
}

.section-home{
    padding-top: 60px;
}

.sec-div-home{
    font-family: sans-serif;
    color:  #ff6c00;
}


























.about__section__box{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),  url(../img/nosotros/knappingg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 35px;
    padding-right: 400px;
    padding-bottom: 200px;
}

.about--section{
    font-family: 'Audiowide', cursive;
    padding-left: 450px;
    padding-top: 50px;
    font-size: 25em;
    color: #ff6c00;
}

.section__about{
padding-top: 60px;
}

.what--we--do{
    font-family: sans-serif;
    color:  #ff6c00;
}


























.course--course{
    font-family: 'Audiowide', cursive;
    padding-left: 21%;
    padding-top: 150px;
    padding-bottom: 232px;
    font-size: 1em;
    color: #ffffff;
}















.gallery--gallery{
    font-family: 'Audiowide', cursive;
    padding-top: 150px;
    padding-left: 15%;
    padding-bottom: 232px;
    font-size: 50em;
    color: #ffffff;
}

.art__gallery{
    background-color: black;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}


.gall__img{
    padding: 16px;
    margin: 3px;
    border: 3px solid #ff6c00;
}










.section__course__contact{
    margin: 1012px, 600px;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(../img/contacto/smoke__contact.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 34px;
}

.art__form__contact{
    line-height: 35px;
    font-family: sans-serif;
    color:#ff6c00;
}

.contact--contact{
    font-family: 'Audiowide', cursive;
    padding-left: 11%;
    padding-top: 150px;
    padding-bottom: 232px;
    font-size: 50em;
    color: #ffffff;
}

.section__contact{
    padding: 40px;
}

.footer--contact--icons{
    display:flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 30px;
}


}