@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Black+Ops+One&family=Poppins:wght@100&display=swap");
* {
  padding: 0%;
  margin: 0%;
}

body {
  min-height: 100vh;
}

.main {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-wrap: nowrap;
  flex-direction: column;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url("../img/main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.div-main {
  background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.6895133053) 55%, rgba(0, 0, 0, 0.0228466387) 100%);
}

.h1m {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1%;
  color: #ff6c00;
  font-size: 1.9em;
  text-align: start;
}

.list {
  font-style: normal;
  padding-top: 10%;
}

.list_li {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  font-size: 1.2em;
}

.a_main {
  text-decoration: none;
  color: #ff6c00;
  font-family: "Audiowide", cursive;
}

.text-main {
  font-family: "Audiowide", cursive;
  padding: 5%;
  margin: 5%;
  font-size: 1.5em;
  color: #d4ff00;
  text-align: center;
}

.div__inscribirse {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5%;
}

.inscribirse {
  text-decoration: none;
  color: #ff6c00;
  font-size: 1.2em;
  border: 3px solid #ff6c00;
  font-family: "Audiowide", cursive;
  border-radius: 3%;
}

.home_section_box {
  background-image: url(../img/background-jungle.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3%;
  color: #ff6c00;
}

.home--section {
  margin: 8% 0 7% 0;
  font-family: "Audiowide", cursive;
  font-size: 1em;
  border-bottom: 0.2em solid #d4ff00;
}

.h2_ind {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fd9a19;
}

.sec-div-home {
  padding: 2%;
  font-family: sans-serif;
  color: #ff6c00;
  margin: 0 8% 10% 8%;
  text-align: center;
}

.sec-div-home p{
  padding: 7%;
}

.sec-div-home p {
  color: #d4ff00;
}

.about__section__box {
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../img/responsive/knappinggmedia.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3%;
}

.about--section {
  padding: 0 0 7% 0;
  font-family: "Audiowide", cursive;
  font-size: 1.1em;
  color: #ff6c00;
}

.h2_about {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 0.2em solid #d4ff00;
}

.what--we--do {
  font-family: sans-serif;
  color: #d4ff00;
  padding-bottom: 5%;
}
.what--we--do p{
  padding: 6%;
}

.h2_aboutt {
  font-family: "Audiowide", cursive;
  font-size: 1.3em;
  font-style: normal;
  color: #ff6c00;
}

.course--course {
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../img/responsive/fire-winterr.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3%;
}

.section__course a {
  text-decoration: none;
  color: #ff6c00;
  font-family: "Audiowide", cursive;
}

.course--section {
  padding: 8% 0 7% 0;
  font-family: "Audiowide", cursive;
  font-size: 1.1em;
  color: #ff6c00;
}

.h2_course {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 0.2em solid #d4ff00;
}

.what--we--do {
  font-family: sans-serif;
  color: #d4ff00;
  padding-bottom: 10%;
}

.course--environments {
  min-height: 100vh;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../img/responsive/desert-backgroundr.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3%;
}

.course--snow {
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../img/responsive/sky-igloo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3%;
}

.course--desert {
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../img/responsive/camping-desert.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3%;
}

.course--forest {
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../img/responsive/forestr.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3%;
}

.course--profesionals{
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../img/metal.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3%;
}

.h3_course {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 0.2em solid #d4ff00;
}

article .img {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 5%;
}

.m {
  width: 230px;
  height: auto;
  border-radius: 6%;
  border: 6px solid #ff6c00;
}

.art__gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  padding-bottom: 10%;
}

.h2_gallery {
  margin: 2em;
  padding: 0% 33% 2% 33%;
  font-family: "Audiowide", cursive;
  color: #ff842b;
  border-bottom: 0.2em solid #d4ff00;
}

.gall-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.gall_1_img {
  margin-bottom: 15px;
  border: 0.2em solid #d4ff00;
}

.gall_2_img {
  margin-bottom: 15px;
  border: 0.2em solid #d4ff00;
}

.gall_3_img {
  margin-bottom: 15px;
  border: 0.2em solid #d4ff00;
}

.gall_4_img {
  margin-bottom: 15px;
  border: 0.2em solid #d4ff00;
}

.gall_5_img {
  margin-bottom: 15px;
  border: 0.2em solid #d4ff00;
}

.gall_6_img {
  margin-bottom: 15px;
  border: 0.2em solid #d4ff00;
}

.gall_7_img {
  margin-bottom: 15px;
  border: 0.2em solid #d4ff00;
}

.gall_8_img {
  margin-bottom: 15px;
  border: 0.2em solid #d4ff00;
}

.gall_9_img {
  margin-bottom: 15px;
  border: 0.2em solid #d4ff00;
}

.figure_gall {
  width: 315px;
}

.form_article {
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../img/responsive/smoke__contactr.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 2em;
  line-height: 2em;
  font-family: "Audiowide", cursive;
  font-size: 1em;
  color: #d4ff00;
}

.section_footer {
  background-color: #000000;
}

.h3__footer {
  padding-top: 5%;
  font-family: "Audiowide", cursive;
  font-size: 1.2em;
  color: #fd9a19;
  border-bottom: 0.2em solid #d4ff00;
  text-align: center;
}

.figure_footer {
  width: 315px;
  height: 155px;
}

.div_footer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.footer__end {
  background: linear-gradient(rgba(4, 9, 30, 0.7), rgba(8, 19, 58, 0.7)), url(../img/footer/background-damasco.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  border-top: 1em solid #d4ff00;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div__footer {
  display: flex;
  padding: 3% 3% 0px 3%;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  color: #ff6c00;
  font-family: sans-serif;
}

.h3__footer {
  margin-bottom: 13%;
}

.h3__footere {
  display: block;
  color: #d4ff00;
  font-family: "Audiowide", cursive;
  border-bottom: 0.2em solid #d4ff00;
  margin: 15%;
}

.footer__end .div__footer div{
  padding: 5%;
  text-align: center;
}

.list__footer {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.links__footer {
  text-decoration: none;
  color: #d4ff00;
}

.icons {
  width: 1.8em;
}

.end{
  background-color: #111111;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  color: #ff6c00;
  font-size: 1.3em;
  padding: 4%;
  border-top: 10px solid #ff6c00;
}

@media (min-width: 768px) {
  .div-main {
    grid-area: div-main;
  }
  .mainMenu {
    grid-area: mainMenu;
  }
  .text-main {
    grid-area: text-main;
  }
  .main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "div-main div-main" "text-main text-main" "text-main text-main";
  }
  .div-main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-items: start;
  }
  .h1m {
    padding: 2%;
    font-size: 2em;
  }
  .mainMenu {
    margin-left: 6%;
  }
  .list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-items: flex-start;
    font-style: normal;
  }
  .list_li {
    font-size: 1.1em;
    flex-direction: row;
    justify-items: flex-start;
    margin-left: 3%;
  }
  .text-main {
    font-size: 2em;
  }
  .inscribirse {
    border: 8px solid #ff6c00;
  }
  .home_section_box {
    padding: 6%;
  }
  .home--section {
    font-family: "Audiowide", cursive;
    margin: 4% 0 3% 0;
    font-size: 1.5em;
    color: #ff6c00;
  }
  .section-home {
    padding-top: 5%;
  }
  .about__section__box {
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../img/nosotros/knappingg.jpg);
    padding: 6%;
    font-size: 1.1em;
  }
  .about--section {
    padding: 0 0 9% 0;
  }
  .what--we--do {
    padding-bottom: 10%;
  }
  .h2_aboutt {
    font-size: 1.4em;
  }
  .course--course {
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../img/cursos/fire-winter.jpg);
    padding: 2%;
  }
  .course--section {
    font-size: 1.5em;
    color: #ff6c00;
  }
  .what--we--do {
    font-size: 1.2em;
  }
  .course--environments {
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../img/cursos/desert-background.jpg);
    padding: 2%;
  }
  .course--snow {
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../img/cursos/sky-igloo.jpg);
    padding: 2%;
  }
  .course--desert {
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../img/cursos/camping-desert.jpg);
    padding: 2%;
  }
  .course--forest {
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../img/cursos/forest.jpg);
    padding: 2%;
  }
  .gall-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1em;
    grid-template-areas: "g1 g2 g3" "g4 g5 g6" "g7 g8 g9";
  }
  .gall_1_img {
    grid-area: g1;
  }
  .gall_2_img {
    grid-area: g2;
  }
  .gall_3_img {
    grid-area: g3;
  }
  .gall_4_img {
    grid-area: g4;
  }
  .gall_5_img {
    grid-area: g5;
  }
  .gall_6_img {
    grid-area: g6;
  }
  .gall_7_img {
    grid-area: g7;
  }
  .gall_8_img {
    grid-area: g8;
  }
  .gall_9_img {
    grid-area: g9;
  }
  .figure_gall {
    width: 236.25px;
  }
  .form_article {
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../img/contacto/smoke__contact.jpg);
    text-align: center;
    padding: 2%;
    line-height: 2em;
    font-family: "Audiowide", cursive;
    color: #d4ff00;
  }
  .form_article h2 {
    color: #ff6c00;
    border-bottom: 0.2em solid #d4ff00;
    margin: 5%;
  }
  .form_article form {
    display: inline-block;
    margin: 3%;
  }
  .h3__footer {
    padding-top: 6%;
    font-size: 1.5em;
    text-align: center;
  }
  .footer__end {
    height: 100vh;
    border-top: 1em solid #d4ff00;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .div__footer {
    font-size: 1.1em;
  }
  .h3__footer {
    margin-bottom: 7%;
  }
  .h3__footere {
    border-bottom: 0.3em solid #d4ff00;
    margin: 4%;
  }
  .footer__end .div__footer div{
    padding: 5%;
  }

}
@media (min-width: 1020px) {
  .h1m {
    font-size: 2.56em;
  }
  .a_main:hover {
    color: #fd9a19;
    transform: scale(1.1);
    transition-property: all;
    transition-duration: 0.3s;
  }
  .list_li {
    margin-left: 4%;
    font-size: 1.45em;
  }
  .text-main {
    font-size: 2.3em;
  }
  .inscribirse:hover {
    border-color: #fd9a19;
    color: #fd9a19;
    transform: scale(1.3);
    transition-property: all;
    transition-duration: 0.7s;
    box-shadow: 0px 31px 14px -5px rgb(0, 0, 0);
  }
  .home--section {
    font-size: 2.3em;
  }
  .section-home {
    font-size: 2em;
  }
  .about__section__box {
    font-size: 1.7em;
  }
  .h2_aboutt {
    font-size: 1.3em;
  }
  .section__course {
    font-size: 1.3em;
  }
  .course--section {
    font-size: 2em;
  }
  .what--we--do {
    font-size: 1.1em;
  }
  .h2_gallery {
    font-size: 2.3em;
  }
  .figure_gall {
    width: 316.375px;
  }
  .h3__footer {
    font-size: 2em;
  }
  .form_article {
    font-size: 1.5em;
  }
  .h3__footer {
    font-size: 1.7em;
  }
  .div__footer {
    font-size: 1.3em;
  }
}
@media (min-width: 1400px) {
  .h1m {
    font-size: 3.3em;
  }
  .list_li {
    font-size: 2em;
  }
  .text-main {
    font-size: 3em;
  }
  .home--section {
    font-size: 2.3em;
  }
  .section-home {
    font-size: 2em;
  }
  .about__section__box {
    font-size: 2.3em;
  }
  .h2_aboutt {
    font-size: 1.3em;
  }
  .section__course {
    font-size: 1.7em;
  }
  .course--section {
    font-size: 2em;
  }
  .h2_gallery {
    font-size: 2.7em;
  }
  .figure_gall {
    width: 472.5px;
  }
  .h3__footer {
    font-size: 2.5em;
  }
  .form_article {
    font-size: 1.5em;
  }
  .div__footer {
    font-size: 1.3em;
  }
  .list__footer {
    font-size: 1.3em;
  }
}/*# sourceMappingURL=styles.css.map */