.form_article{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),  url(../img/responsive/smoke__contactr.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 2em;
    line-height: 2em;
    font-family: 'Audiowide', cursive;
    font-size: 1em;
    color: #d4ff00;
}