@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Black+Ops+One&family=Poppins:wght@100&display=swap');
@import "main";
@import "home-section";
@import "about";
@import "courses";
@import "gallery";
@import "contact";
@import "footer";
@import "mq";

*{
    padding: 0%;
    margin: 0%;
}

body{
    min-height: 100vh;
}















@media(min-width:768px){

    .div-main{    
        grid-area: div-main;
    }

    .mainMenu{
        grid-area: mainMenu;
    }

    .text-main{
        grid-area: text-main;
    }



.main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,1fr);
    grid-template-areas:
    "div-main div-main"
    "text-main text-main"
    "text-main text-main";
}


.div-main{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-items: start;
}

.h1m{
    padding: 2%;
    font-size: 2em;
}

.mainMenu{
    margin-left: 6%;
}

.list{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-items: flex-start;
    font-style: normal;
}

.list_li{
    font-size: 1.1em;
    flex-direction: row;
    justify-items: flex-start;
    margin-left: 3%;
}

.text-main{
    font-size: 2em;
}

.inscribirse{
    border: 8px solid #ff6c00;
}









.home_section_box{
    padding: 6%;
}


.home--section{
    font-family: 'Audiowide', cursive;
    margin: 4% 0 3% 0;
    font-size: 1.5em;
    color: #ff6c00;
}

.section-home{
    padding-top:5%;
}























.about__section__box{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),  url(../img/nosotros/knappingg.jpg);
    padding: 6%;
    font-size: 1.1em;
}

.about--section{
    padding: 0 0 9% 0;
}

.what--we--do{
    padding-bottom: 10%;
}

.h2_aboutt{
    font-size: 1.4em;
}

























.course--course{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),  url(../img/cursos/fire-winter.jpg);
    padding: 2%;
}

.course--section{
    font-size: 1.5em;
    color: #ff6c00;
}

.what--we--do{
    font-size: 1.2em;
}
























.course--environments{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),  url(../img/cursos/desert-background.jpg);
    padding: 2%;
}






.course--snow{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),  url(../img/cursos/sky-igloo.jpg);
    padding: 2%;
}






.course--desert{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),  url(../img/cursos/camping-desert.jpg);
    padding: 2%;
}






.course--forest{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),  url(../img/cursos/forest.jpg);
    padding: 2%;
}





















.gall-1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1em;
    grid-template-areas:
    "g1 g2 g3"
    "g4 g5 g6"
    "g7 g8 g9" ;
}


.gall_1_img{
    grid-area: g1;
}

.gall_2_img{
    grid-area: g2;
}

.gall_3_img{
    grid-area: g3;
}

.gall_4_img{
    grid-area: g4;
}

.gall_5_img{
    grid-area: g5;
}

.gall_6_img{
    grid-area: g6;
}

.gall_7_img{
    grid-area: g7;
}

.gall_8_img{
    grid-area: g8;
}

.gall_9_img{
    grid-area: g9;
}



.figure_gall{
    width: 236.25px;
}

























.form_article{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),  url(../img/contacto/smoke__contact.jpg);
    text-align: center;
    padding: 2%;
    line-height: 2em;
    font-family: 'Audiowide', cursive;
    color: #d4ff00;
}

.form_article h2{
    color: #ff6c00;
    border-bottom: 0.2em solid #d4ff00;
    margin: 5%;
}

.form_article form{
    display: inline-block;
    margin: 3%;
}

























.h3__footer{
    padding-top: 6%;
    font-size: 1.5em;
    text-align: center;
}













.footer__end{
    height: 160vh;
    border-top: 1em solid #d4ff00;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div__footer{
    font-size: 1.1em;
}

.h3__footer{
    margin-bottom: 7%;
}

.h3__footere{
    border-bottom: 0.3em solid #d4ff00;
    margin: 4%;
}




}


















































@media(min-width:1020px){

    






.h1m{
    font-size: 2.56em;
}

.a_main:hover{
    color: #fd9a19;
    transform: scale(1.1);
    transition-property: all;
    transition-duration: 0.3s;
}

.list_li{
    margin-left: 4%;
    font-size: 1.45em;
}

.text-main{
    font-size: 2.3em;
}

.inscribirse:hover{
    border-color: #fd9a19;
    color: #fd9a19;
    transform: scale(1.3);
    transition-property: all;
    transition-duration: 0.7s;
    box-shadow: 0px 31px 14px -5px rgba(0,0,0,1);
}





.home--section{
    font-size: 2.3em;
}

.section-home{
    font-size: 2em;
}






.about__section__box{
    font-size: 1.7em;
}

.h2_aboutt{
    font-size: 1.3em;
}







.section__course{
    font-size: 1.3em;
}

.course--section{
    font-size: 2em;
}

.what--we--do{
    font-size: 1.1em;
}





.h2_gallery{
    font-size: 2.3em;
}

.figure_gall{
    width:  316.375px;
}





.h3__footer{
    font-size: 2em;
}





.form_article{
    font-size: 1.5em;
}





.h3__footer{
    font-size: 1.7em;
}





.div__footer{
    font-size: 1.3em;
}





}
























@media(min-width:1400px){











    .h1m{
        font-size: 3.3em;
    }
    
    .list_li{
        font-size: 2em;
    }
    
    .text-main{
        font-size: 3em;
    }
    



    




.home--section{
    font-size: 2.3em;
}

.section-home{
    font-size: 2em;
}






.about__section__box{
    font-size: 2.3em;
}

.h2_aboutt{
    font-size: 1.3em;
}




.section__course{
    font-size: 1.7em;
}

.course--section{
    font-size: 2em;
}





.h2_gallery{
    font-size: 2.7em;
}

.figure_gall{
    width: 472.5px;
}





.h3__footer{
    font-size: 2.5em;
}









    .form_article{
        font-size: 1.5em;
    }
    
    
    


    .div__footer{
        font-size: 1.3em;
    }
    




    .list__footer{
        font-size: 1.3em;
    }

}